@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "../config/variable";

.home {
  font-family: "Quicksand", sans-serif;
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
