@import "../config/variable";

.resume {
  color: #fff;
  font-size: 1.4rem;
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  &-grid {
  }
  &-img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
}
